
<router-outlet></router-outlet>
<div>
  <nz-checkbox-group 
    [(ngModel)]="checkOptionsOne" 
    (ngModelChange)="checkBoxesChanges(checkOptionsOne)">
  </nz-checkbox-group>
</div>
<div>
  <button 
    nz-button 
    nzType="primary" 
    (click)="exportItem()"
    >Export Item</button>
</div>


<ng-container *ngIf="triggerExport$ | async">
  <div>
    <h4>Exported list</h4>
    <nz-table #basicTable [nzData]="(itemListTobeExported$ | async) ?? []">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>ProjectId</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="!listSelectedEmpty">
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data?.id }}</td>
            <td>{{ data?.name }}</td>
            <td>{{ data?.project_id }}</td>
            <td>{{ data?.type }}</td>   
          </tr>
      </ng-container>
      </tbody>
    </nz-table>
  </div>
</ng-container>

